/* Superseded by the transitioned ruleset, see below.
.selected {
  background-color: #FAFAD2;
}
*/

.alert {
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  color: #B94A48;
  padding: 20px;
  border-radius: 5px;
}
   
.alert-topic {
  font-size: 18px;
  font-weight: bold;
  display: block;
}
   
.alert-description {
  font-size: 16px;
}

/* Rulesets for transitioning animation of the ng-repeated elements. */
/* "From" class */
.ng-enter {
  -webkit-transition: opacity 5s linear;
  -moz-transition: opacity 5s linear;
  -ms-transition: opacity 5s linear;
  -o-transition: opacity 5s linear;
  transition: opacity 5s linear;
  opacity: 0;
}
/* "To" class - triggers animation */
.ng-enter-active {
  opacity: 1;
}

/* The same technique used for ngClass directive animating */
.selected {
  -webkit-transition: background-color 5s linear;
  -moz-transition: background-color 5s linear;
  -ms-transition: background-color 5s linear;
  -o-transition: background-color 5s linear;
  transition: background-color 5s linear;
  background-color: #FAFAD2 !important;
}

/* "From" class */
.selected-add-class {
  opacity: 0;
}
/* "To" class - triggers animation */
.selected-add-class-active {
  opacity: 1;
}