.elem {
    display: block;
    width: 45px;
    padding: 13px;
    margin: 20px;
    height: 20px;
    border: 1px solid salmon;
    float: left;
}

.mark {
    background-color: #ffbf99;
}

.cf:after {
    clear: both;
    content: "";
    display: table;
}

