<!DOCTYPE html>
<html ng-app="controllerAsExample">
    <head>
        <link rel="stylesheet" href="bootstrap.css" />
        <link rel="stylesheet" href="todo.css" />
        <script src="angular.min.js"></script>
        <script src="lodash.core.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <div ng-controller="TodoCtrl">
            <h4>Total Todos: {{getTotalTodos()}}</h4>
            <ul class="unstyled">
                <li ng-repeat="todo in todos">
                    <input type="checkbox" ng-model="todo.done" />
                    <span class="done-{{todo.done}}">{{todo.text}}</span>
                </li>
            </ul>

            <form class="form-horizontal">
                <input type="text" ng-model="formTodoText" ng-model-instant />
                <button class="btn" ng-click="addTodo()"><i class="icon-plus"></i>Add</button>
            </form>

            <button class="btn-large" ng-click="clearCompleted()"><i class="icon-trash"></i>Clear Completed</button>
        </div>
    </body>

</html>